.blog-page {
  justify-content: center;
}
.blog-list-container {
  max-width: 70vw;
  margin: 50px 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sortposts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post-link {
  text-decoration: none;
  color: inherit;
}

.post-card {
  width: 200px;
  height: 400px;
  padding: 10px;
}

.listImgContainer {
  width: 80%;
  height: 30%;
  overflow: hidden;
}

.list-img {
  width: 200px;
}
.content-container {
  width: 80%;
}
.post-card h4 {
  margin-top: 10px;
}

#load-more {
  display: flex;
  justify-content: center;
}
.load-more-button {
  color: blueviolet;
}
