body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 32px;
  font-weight: 7000;
}

h2 {
  font-size: 28px;
}

p {
  font-size: 12px;
}

.m-top {
  margin-top: 5rem;
}

.m-bottom {
  margin-bottom: 5rem;
}
.m-left {
  margin-left: 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}
