/* IMPORTED STYLESHEETS */

@import url(loader.css);
@import url(img.css);
@import url(bloglist.css);
@import url(footer.css);
@import url(form.css);
@import url(sliders.css);
@import url(modal.css);

.hidden {
  display: none;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
nav ul li {
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

.map-container {
  border: 1px solid black;
  padding: 10px;
}

.location-description {
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.m-left {
  margin-left: 20px;
}
