.slider-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  align-items: center;
}

.slider-wrapper {
  display: flex;
  flex-direction: row;
  overflow-x: auto;

  margin: 20px;
}
.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.video-text {
  width: 5vw;
  margin-left: 2rem;
}
